body{
    margin:0;
    padding:0;
}

.price del{
    color:#666;
    margin-right:5px;
}
.price span{color:#f00;}

.price del::before,.price span::before{
    content:'￥'
}

.navbar-brand i{
    margin-right:10px;
    font-size:30px;
    color:#fc0;
    vertical-align: middle;
}