
@use "sass:math";

// 引入：把var.scss中的代码拷贝到当前文件
@import './var';

// $mainColor:#333;
$highColor:#fc0;
$secondaryColor:lighten($mainColor,10%);
$darkColor:darken($mainColor,10%);



// 多值变量
// 1. list类型
$pd: 5px 10px 20px 30px;
// 2.map类型
$headings: (h1: 2em, h2: 1.5em, h3: 1.2em);

// 浮动方向
$direction:right;

a{
    font-size:$fontSize;
    color:$mainColor;
    &:hover{
        color:$highColor;
    }
}
h1{
    font-size:map-get($headings, h1)
}
.list{
    $direction:left;
    padding:nth($pd,1);
    li{
        float:$direction;
        border-#{$direction}:5px solid #900;
    }
}

// 利用循环语句实现h1-h6字体大小
@for $i from 1 through 6{
    h#{$i}{
        // font-size: (36/$i)px;
        font-size:math.div(36,$i)px;
    }
}
// @for $i from 1 to 6{

// }

$type:salePrice;
.price{
    color:getColor($type);
    border-color:getColor($type:huodong);
    background-color: getColor();

}

.col-3{
    width:percentage(math.div(1,3))
}

.test{
    color:$secondaryColor;
}
.test2{
    color:$darkColor;
}

.title{
    font-size:$bigFontSize;
}
.sub-title{
    font-size:$smallFontSize;
    padding:10em-2;
}

// 复用与继承
.price{
    padding:10px;
    font-size:16px;
    del{
        color:#666;
        &::before{
            content:'￥'
        }
    }
    span{
        @extend del;
        color:#f00;
    }
}

.sale-price{
    @extend .price;
}

// 占位符(不会编译成具体样式，一般用于继承)
%box{
    padding:10;
    margin:15px;
    border:1px solid #ddd;
}

.goodslist{
    @extend %box;
    border-width:2px;
}
.cartlist{
    @extend %box;
    li{
        float:left;
        width:120px;
        height:300px;
    }
}

// mixin混合器
// 1. 无参数mixin（更推荐使用继承实现）
@mixin important-text {
    color: red;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid blue;
}
.content{
    @include important-text
}
.disciption{
    @include important-text;
    color:#f60;
}


// 2. 带参数mixin
// @media only screen and ( max-width: 800px)
// {
//     .box{
//         font-size:16px;
//     }
//     .title{
//         color:#f00;
//     }
// }
// @media only screen and ( max-width: 600px)
// {
//     .box{
//         font-size:12px;
//     }
//     .title{
//         color:#58bc58;
//     }
// }

@mixin max-screen($width){
    @media only screen and ( max-width: $width )
    {
    //  @content表示使用mixin时的传入的样式
      @content; 
    }
}

  @include max-screen(800px){
    .box{
        font-size:16px;
    }
    .title{
        color:#f00;
    }
  }
  @include max-screen(600px){
    .box{
        font-size:16px;
    }
    .title{
        color:#f00;
    }
  }

.hello{
    color:#333;
}